#!/usr/sbin/nft -f
# {{ ansible_managed }}

{% for line in nftables_nftables_conf_head | default([]) %}
{{ line }}
{% endfor %}

{% for line in nftables_nftables_conf_body | default([]) %}
{{ line }}
{% endfor %}

{% for line in nftables_nftables_conf_tail | default([]) %}
{{ line }}
{% endfor %}
